.password-checker {
    background-color: #fff;
    padding: 25px 40px;
    box-shadow: 0px 4px 4px #ff8036;
    border-radius: 5px;

    &__title {
        font-size: 2rem;
        color: #ff8036;
        margin-bottom: 35px;
        font-weight: 700;
    }

    &__input {
        border: 1px solid #ff8036;
        padding: 10px 15px;
        border-radius: 20px;
        font-size: 1rem;
        margin-bottom: 30px;

        color: #ff8036;
        &::placeholder {
            color: inherit;
        }
        &:focus {
            outline: 1px solid #ff8036;
        }
    }

    &__indicators {
        display: flex;
        gap: 6px;
    }

    &__indicator {
        flex: 0 0 80px;
        height: 4px;
        background-color: grey;
        border-radius: 10px;
        &.red {
            background-color: red;
        }
        &.gray {
            background-color: gray;
        }
        &.yellow {
            background-color: yellow;
        }
        &.green {
            background-color: green;
        }
    }
}
