<div class="password-checker">
    <h1 class="password-checker__title">Check strength of your password</h1>
    <input type="text" class="password-checker__input" placeholder="Enter your password" [(ngModel)]="password" (input)="changeStrength()">
    <div class="password-checker__indicators">
        <div class="password-checker__indicator" [ngClass]="{'gray': password.length === 0, 'red': password.length > 0 && password.length < 8 || strength === 'easy', 'yellow': strength ==='medium', 'green': strength === 'strong'}"></div>
        <div class="password-checker__indicator" [ngClass]="{'gray': password.length === 0 || strength === 'easy', 'red': password.length > 0 && password.length < 8, 'yellow': strength === 'medium', 'green': strength === 'strong'}"></div>
        <div class="password-checker__indicator" [ngClass]="{'gray': password.length === 0 || strength === 'easy' || strength === 'medium', 'red': password.length > 0 && password.length < 8, 'green': strength === 'strong'}"></div>
    </div>
</div>
